/* Urmase poolt */

/* Kuna avalehel on väga vähe sarnast teiste lehtedega, siis selle jaoks on uus css fail */

* {
    color: blanchedalmond;
    font-family: monospace;
    text-align: center;
}

html {
    background-color: rgb(60, 0, 0);
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

p {
    font-size: 25px;
    margin: 8px;
}

a {
    padding: 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 40px;
}

a:hover {
    color: orangered;
    transition-duration: 250ms;
    scale: 1.05;
    transition-timing-function: ease-in-out;
}

button {
    background: rgb(60, 0, 0);
    color: blanchedalmond;
    border-radius: 3px;
    border: solid blanchedalmond 1px;
}

button:hover {
    opacity: 0.9;
}

.kuubikonteiner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.sisemus {
    background-image: url("../../../assets/logoweird.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-self: center;
    gap: 5px;
}

.sisemus>div {
    background: transparent;
    -webkit-backdrop-filter: sepia(90%) brightness(30%);
    backdrop-filter: sepia(90%) brightness(30%);
    border: solid blanchedalmond 1px;
    padding: 8px;
    border-radius: 7px;
}