/* Urmase poolt */

/* myRoom ja theirRoom css on siia koondatud, sest see on päris sarnarne/samasugune*/

* {
    background-color: rgb(60, 0, 0);
    color: blanchedalmond;
    font-family: monospace;
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.navigation {
    overflow: hidden;
    height: 70px;
}

img {
    height: 100%;
    width: auto;
}

.navigation a {
    padding: 5px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
    color: blanchedalmond;
    font-weight: bold;
    font-size: large;

}

.navigation img {
    display: inline-block;
    vertical-align: middle;
}

.navigation a:hover {
    color: orangered;
    transition-duration: 250ms;
    scale: 1.05;
    transition-timing-function: ease-in-out;
}

input {
    border-radius: 2px;
    border: blanchedalmond 1px solid;
    background-color: rgb(255, 141, 141);
    color: black;
}

textarea {
    background-color: rgb(255, 141, 141);
    width: 450px;
    height: 200px;
    border-radius: 5px;
    display: block;
    border: blanchedalmond 1px solid;
    color: black;
    margin: 13px 0px;
}

.material-icons.md-18 {
    font-size: small;
}

.copyBtn {
    display: inline-flex;
    vertical-align: middle;
    padding: 7px;
}

button {
    font-size: large;
    background: rgb(60, 0, 0);
    color: blanchedalmond;
    border-radius: 3px;
    border: solid blanchedalmond 1px;
}

button:hover {
    opacity: 0.7;
}

.lisakonteiner {
    width: fit-content;
    margin: 13px 0px;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-color: blanchedalmond;
    box-shadow: 0 4px 12px rgba(255, 235, 205, 0.5);
}

.lisakonteiner-nav {
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    line-height: normal;
    font-size: 1.5em;
}

label:hover {
    opacity: 0.7;
}

/* see label, mis on html-iga juba sees ei ole toakood, seega seda ei tohiks värvi muuta kursori tõttu */
.fullopacity:hover {
    opacity: 1;
}

/* Teavituste jaoks vajalik css algab siit */


/* Teavitusete pinu tegemine ekraani alla vasakule*/
#teavitused {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

/* Teavituse kasti enda defineerimine */
.teavitus {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(60, 0, 0);
    /* color: blanchedalmond; */
    border-radius: 5px;
    font-size: 16px;
    animation: slideIn 0.5s, fadeOut 0.5s 3s;
    opacity: 1;
    border: solid blanchedalmond 1px;
}

/* Kui teavituseblokk libisab algul sisse */
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Kui teavitusblokki aeg (3s) otsa hakkab saama */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}